{% extends 'base.html' %}
{% load static %}

<!-- Motivation Section -->
{% block content %}
<section class="container" id="howtouse-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <h2 class="animate__animated animate__bounceInLeft">Motivation</h2>
            <ul class="animate__animated animate__bounceInRight">

                  <li>For the project arose when we saw that normal people could access the website and get their required information without hassle.</li>
                  <br>
                  <li>But when it gets to visually impaired people, they can't access the information even when the same holds significant value for them.</li>

            </ul>
        </section>
        <section class="offset-md-2 col-md-5">
            <img src="{% static '/assests/motivation.jpg' %}" alt="Motivation-image" class="img-fluid">
        </section>
    </section>
</section>
{% endblock %}
<!-- Motivation Section Ends -->
